<!-- /templates/customers/login.liquid -->

{% if customer %}
  <p class="center">Redirecting...</p>
  <script type="text/javascript">
    window.location = '{{ routes.account_url }}';
  </script>
{% else %}
  <section
    id="Login"
    class="account account--login{% if shop.checkout.guest_login %} just{% endif %}"
    data-account-form>
    <div id="wrapperNarrow" class="wrapper wrapper--narrow">
      <div class="login fade-toggle{% if shop.checkout.guest_login %} align-left{% endif %}" data-login-form>
        <div class="account_title">MY FOUNDO ACCOUNT</div>
        {% form 'customer_login' %}
          <div class="form-field">{{ form.errors | default_errors }}</div>
          <div class="form-field">
            <div class="account_text">EMAIL</div>
            <input
              type="email"
              value=""
              name="customer[email]"
              id="customer_email"
              class="inputbox {% if form.errors contains 'email' %}input-error{% endif %}"
              placeholder="{{ 'customer.login.email' | t }}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off"
              autofocus>
          </div>

          {% if form.password_needed %}
            <div class="form-field">
              <div class="account_text">PASSWORD</div>
              <input
                type="password"
                value=""
                name="customer[password]"
                id="customer_password"
                class="inputbox password"
                class="{% if form.errors contains 'password' %}input-error{% endif %}"
                placeholder="{{ 'customer.login.password' | t }}">
              <button
                type="button"
                style="padding: 0;margin-top: 10px;"
                class="account_text"
                data-show-reset>
                Forgot Password?
              </button>
              <button type="submit" class="account_submit">Login</button>
            </div>
          {% endif %}
          <div class="account_title" style="margin-top: 60px;padding: 0;">CREATE AN ACCOUNT</div>
          <div class="account_texted">Here, you can view and manage your personal information and
            <br/> account settings. Below is an overview of your account details:</div>
          <a href="{{ routes.account_register_url }}">
            <div class="createabtn">Create</div>
          </a>
          <div class="form-field action-bottom">
            <a href="{{ routes.root_url }}" class="text-link small">{{ 'customer.login.cancel' | t }}</a>
          </div>
        {% endform %}
      </div>

      <div class="fade-toggle is-hidden" data-recover-password>
        <div class="account_title">RECOVER YOU PASSWORD</div>
        <div class="account_texted">Please enter your email address to reset your password.</div>
        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          <div class="form-field">
            <div class="account_text">EMAIL</div>
            <input
              type="email"
              value=""
              size="30"
              name="email"
              id="recover-email"
              placeholder="{{ 'customer.login.email' | t }}"
              class="inputbox large">
          </div>
          <button type="submit" class="account_submit">Submit</button>
          <button class="createabtn" data-hide-reset>Back to login</button>
          <div class="account_title" style="margin-top: 60px;padding: 0;">CREATE AN ACCOUNT</div>
          <div class="account_texted">Here, you can view and manage your personal information and
            <br/> account settings. Below is an overview of your account details:</div>
          <a href="{{ routes.account_register_url }}">
            <div class="createabtn">Create</div>
          </a>
        {% endform %}
      </div>

      {%- if shop.checkout.guest_login -%}
        <div class="guest-checkout">
          <div class="form-field">
            <h2 class="page__heading">{{ 'customer.login.guest_title' | t }}</h2>

            {%- form 'guest_login' -%}
              <button class="caps--link" type="submit">
                <span>{{ 'customer.login.guest_continue' | t }}</span>
              </button>
            {%- endform -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>

{%- endif -%}