<!-- /templates/customers/register.liquid -->

<section id="Register" class="center account">
  <section id="wrapperNarrow" class="col wrapper wrapper--narrow">
    <div class="customer-register">
      <div class="account_title">CREATE YOUR ACCOUNT BELOW</div>
      {% form 'create_customer' %}
        <div class="form-field">{{ form.errors | default_errors }}</div>
        <div class="form-field">
          <div class="account_text">EMAIL</div>
          <input
            type="email"
            value="{{ form.email }}"
            name="customer[email]"
            id="email"
            class="inputbox large{% if form.errors contains 'email' %} error{% endif %}"
            placeholder="{{ 'customer.register.email' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">PASSWORD</div>
          <input
            type="password"
            value=""
            name="customer[password]"
            id="password"
            class="inputbox large password{% if form.errors contains 'password' %} error{% endif %}"
            placeholder="{{ 'customer.register.password' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">CONFIRM PASSWORD</div>
          <input
            type="password"
            value=""
            name="customer[password]"
            id="password-confirmation"
            class="inputbox large password{% if form.errors contains 'password' %} error{% endif %}"
            placeholder="{{ 'customer.register.password' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">FIRST NAME</div>
          <input
            type="text"
            value="{{ form.first_name }}"
            name="customer[first_name]"
            id="first_name"
            class="inputbox large"
            size="30"
            placeholder="{{ 'customer.register.first_name' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">LAST NAME</div>
          <input
            type="text"
            value="{{ form.last_name }}"
            name="customer[last_name]"
            id="last_name"
            class="inputbox large{% if form.errors contains 'last_name' %} error{% endif %}"
            placeholder="{{ 'customer.register.last_name' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">BIRTHDAY</div>
          <input
            value="{{ form.birthday }}"
            id="birthday"
            class="inputbox"
            type="month"
            name="customer[note][Birthday]" />
        </div>
        <div class="form-field">
          <div class="account_text">LOCATION CODE</div>
          <div class="flex_all flex_bor">
            <div class="flex_text1">
              <p>+86</p>
              <div id="mydIV" class="flex_xia"></div>
            </div>
            <div onclick="xaila1()" style="cursor: pointer;">
              {%- render 'icon-nav-arrow-down' -%}
            </div>
            <input
              value="{{ form.areacode }}"
              id="areacode"
              class="inputboxed"
              type="tel"
              name="customer[note][Areacode]" />
          </div>

        </div>
        <div class="form-field">
          <div class="flex_all">
            <input
              value="{{ form.subscribe }}"
              id="subscribe"
              type="checkbox"
              name="customer[note][Subscribe]" />
            <p class="input_text">Subscribe to newsletter</p>
          </div>
          <div class="flex_all">
            <input
              value="{{ form.optional }}"
              id="optional"
              type="checkbox"
              name="customer[note][Optional]" />
            <p class="input_text">I’d like to sign up to the FOUNDO newsletter. My email won’t be shared with third parties. (optional)</p>
          </div>
          <div class="flex_all">
            <input
              value="{{ form.information }}"
              id="information"
              type="checkbox"
              name="customer[note][Information]" />
            <p class="input_text">Further information, in particular regarding your data subject rights, can be found in the Privacy Policy.</p>
          </div>
        </div>
        <button type="submit" class="account_submit">{{ 'customer.register.submit' | t }}
        </button>
        <a href="{{ routes.account_login_url }}">
          <div class="createabtn createabtned">Back to login</div>
        </a>
      {% endform %}
    </div>
    <script>
      var myDiv = document.getElementById('mydIV'); // 获取目标 div 元素
      for (var i = 0; i < 5; i++) {
        var span = document.createElement('p'); // 创建 span 元素
        span.textContent = 'Item ' + (
          i + 1
        ); // 设置 span 元素的文本内容
        span.addEventListener('click', handleClick); // 添加点击事件监听器
        myDiv.appendChild(span); // 将 span 元素添加到目标 div 元素中
      }function handleClick() {
        var flex_textp = document.querySelector('.flex_text1 p');
        flex_textp.innerHTML = this.textContent;
      }
      function xaila1() {
        var navbar = document.querySelector(".flex_xia");
        console.log('Clicked:', navbar.style.display);
        if (navbar.style.display === 'none') {
          navbar.style.display = 'block'; // 显示元素
        } else {
          navbar.style.display = 'none'; // 隐藏元素
        }

      }
      function xaila2() {
        var navbar = document.querySelector(".flex_xia");
        navbar.classList == 'flex_xia error'
      }
    </script>
  </section>
</section>