<!-- /templates/customers/subscribe.liquid -->

<section id="Subscribe" class="center account">
  <section id="wrapperNarrow" class="col wrapper wrapper--narrow">
    <div class="customer-subscribe">
      <div class="account_title">SUBSCRIBE TO OUR NEWSLETTER</div>
      {% form 'create_customer' %}
        <div class="form-field">{{ form.errors | default_errors }}</div>
        <div class="form-field">
          <div class="account_text">EMAIL</div>
          <input
            type="email"
            value="{{ form.email }}"
            name="customer[email]"
            id="email"
            class="inputbox large{% if form.errors contains 'email' %} error{% endif %}"
            placeholder="{{ 'customer.Subscribe.email' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">FIRST NAME</div>
          <input
            type="text"
            value="{{ form.first_name }}"
            name="customer[first_name]"
            id="first_name"
            class="inputbox large"
            size="30"
            placeholder="{{ 'customer.Subscribe.first_name' | t }}">
        </div>
        <div class="form-field">
          <div class="account_text">LAST NAME</div>
          <input
            type="text"
            value="{{ form.last_name }}"
            name="customer[last_name]"
            id="last_name"
            class="inputbox large{% if form.errors contains 'last_name' %} error{% endif %}"
            placeholder="{{ 'customer.Subscribe.last_name' | t }}">
        </div>
        <div class="form-field">
          <div class="flex_all">
            <input
              value="{{ form.subscribe }}"
              id="subscribe"
              type="checkbox"
              name="customer[note][Subscribe]" />
            <p class="input_text">By signing up you agree to receive updates from FOUNDO world, including new collection launches and early access to future collectibles, limited releases and capsule collaborations. For more information please consult our privacy policy.</p>
          </div>
        </div>
        <button type="submit" class="createabtn">{{ 'customer.Subscribe.submit' | t }}
        </button>
      {% endform %}
    </div>
    <script>

    </script>
  </section>
</section>